
body {

    background-image: url(./assets/halteres-no-chao-de-uma-academia-ai-generative.jpg);
    background-repeat: no-repeat;
    background-position: top center; 
    background-size: cover;
    height: 100vh;

}
/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 5px;
    margin: 9px;


    
}
/*relógio*/
.clock {
    color: white;
    font-size: 1rem;
    order: 3; 
    margin-left: auto; 
}
.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    order: 2;
    padding: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    order: 1;
}

.nav-links li {
    margin-right: 0;
    border: 1px solid white;
    border-radius: 9999px;
    padding: 5px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

/*.nav-links a:hover {

}
*/